/*               ALSO ALL SELECTION LISTED IN ALPHABETICAL ORDER FOR FUTURE REFERNCES AND BUG HUNTING



Done By Tag selection

a{
  color: #40514e;
  font: italic small-caps bold 16px/2 cursive;
}

*/
body{
background-color: #eaf6f6;
}
.circular{
  border-radius: 200px;
}
/*              Done by Class Selection             */
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
  h1{
    color: #66bfbf;
  }
  h3{
    color: #66bfbf;
  }
  h2{
    color: #66bfbf;
  }
  .links{
    color: #40514e;
    font: italic small-caps bold 16px/2 cursive;
    text-decoration: none;
  }/*              Done by Class Selection             */
  #myname{
    font: italic 2.2em "Fira Sans", serif;
    color: #66bfbf;
  }
  /*              Done by Id Selection  USE SPARRINGLY           */

  .mysite{
    text-decoration: none;
  }
  .mysite:hover {
    background-color: gold;
  }/*              Done by Seudo Class Selection             */
  .hobbies{
      text-decoration: none;
  }
