body{
background-color: #eaf6f6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

  h1{
    font: italic 2.2em "Fira Sans", serif;
    color: #66bfbf;
  }

  h3{
    color: #66bfbf;
  }

  h2{
    color: #66bfbf;
  }
a{
    font: italic small-caps bold 16px/2 cursive;
      color: #40514e;
  }
